.admin-area {
  background: #000;
  color: white;
  height: 100vh;
}
.admin-container {
  overflow-x: hidden;
}
.admin-menu {
  list-style: none;
  cursor: pointer;
}
.admin-menu:hover {
  color: blue;
}
